extends ./layout/base

block content
  h1.index-title ShortLink

  .Links
    for link in links
      .Links-item
        a(href="#{link.url}" target="_blank")
          = link.title
        p 
          |Alias : 
          = link.alias

        form(action="/links/delete" method="POST")
          input(type="hidden" value="#{link.id}" name="id")
          input(type="submit" value="Remove")